<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>404 Error</title>
</head>
<body>
    <%-include('partials/navbar',{page: ''})%>

      <div class="hero bg-base-200 min-h-screen" style="background-image: url(https://www.shutterstock.com/image-vector/404-page-not-found-error-260nw-2507847407.jpg);"> <!--This image should be royalty free :D-->
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">404 ERROR</h1>
            <p class="py-6">
                <%=message%>
            </p>
            <button class="btn btn-primary" onclick="location.href='/'";>Return Home</button>
          </div>
        </div>
      </div>
</body>
</html>