<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>About</title>
</head>
<body>
    <%-include('partials/navbar',{page: '/about'})%>

      <div class="container mx-auto">
       <div class="hero bg-base-200 p-4 w-full">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">About</h1>
            <p class="py-6">
                Welcome to the about page for Scott Denby: Aspiring A&W burger!
            </p>
          </div>
        </div>
      </div>
      
        <div class="grid grid-cols-3 gap-5">
          <img class="border-2" src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_16x9.jpg?w=1200" alt="I like cats" />
          <div class="border-2: grid-start-3">
            <h1>More about Scott</h1>
            <p>Scott is a third semester student a Seneca Polytechnic aiming to achieve his Computer Programming and Anaylsis advanced diploma.
              Currently Scott is rushing to finish his WEB322 assignment before it is due and is therefore writing a small "About me" section for his project.
              Have a nice day!
            </p>
          </div>
        </div>
      </div>
</body>
</html>