<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>Climate Solutions</title>
</head>
<body>
    
    <%-include('partials/navbar',{page: '/index'})%>


      <div class="container mx-auto">        
        <div class="grid grid-cols-1 mb-4">

       <div class="hero bg-base-200 p-4 w-full">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Climate Solutions</h1>
            <p class="py-6">
                We have all kinds of great climate soltuons for you!
            </p>
            <button class="btn btn-primary" onclick="location.href='/solutions/projects'";>Check out our projects!</button>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-3 gap-2">
      
          <div class="border-2"><div class="card w-110 bg-base-100 shadow-xl">
            <figure>
              <img class="w-full" src="https://drawdown.org/sites/default/files/solutions2020/solution_alternativecement02.jpg" alt="Alternative Cement" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">Alternative Cement</h2> <!--2, 3, 4 in that order forID-->
              <p>Conventional cement production is a significant source of carbon dioxide. Reformulation can reduce emissions by millions of metric tons each year.</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary" onclick="location.href='/solutions/projects/2'">Check it out</button>
              </div>
            </div>
          </div></div>



          <div class="border-2"><div class="card w-110 bg-base-100 shadow-xl">
            <figure>
              <img class="w-full" src="https://drawdown.org/sites/default/files/solutions2020/solution_bicycle_infrastructure.jpg" alt="Bicycle Infrastructure" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">Bicycle Infrastructure</h2>
              <p>Infrastructure is essential for supporting safe and abundant bicycle use, which curbs emissions by reducing the need for fossil-fuel-dependent transportation.</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary" onclick="location.href='/solutions/projects/3'">Check it out</button>
              </div>
            </div>
          </div></div>



          <div class="border-2"><div class="card w-110 bg-base-100 shadow-xl">
            <figure>
              <img class="w-full" src="https://drawdown.org/sites/default/files/solutions/solution_biomass01.jpg" alt="Biomass Power" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">Biomass Power</h2>
              <p>Biomass feedstock can replace fossil fuels for generating heat and electricity. Perennial biomass offers a “bridge” to a clean, renewable energy future.</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary" onclick="location.href='/solutions/projects/4'">Buy Now</button>
              </div>
            </div>
          </div></div>
          </div>
        </div>
      </div>


</body>
</html>